<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form [formGroup]="signUpform" (ngSubmit)="registerSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="username" formControlName="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="useremail" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="mobileNumber" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" id="mobileNumber" formControlName="mobileNumber">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">role</label>
                    <select name="role" id="role" formControlName="role">
                        <option value="buyer">buyer</option>
                        <option value="seller">Seller</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" formControlName="state">
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Pin Code</label>
                    <input type="number" class="form-control" id="zip" formControlName="zip">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        <div class="col-12 text-center">
            <p>already have an account? <a href="#" routerLink="/sign-in">Sign in</a></p>
        </div>
    </div>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-6">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="useremail_login" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password_login" formControlName="password">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Sign in</button>
                </div>
            </form>
            <div class="col-12 text-center">
                <p>Don't have an account? <a href="#" routerLink="/sign-up">Register</a></p>
            </div>
        </div>
    </div> -->
</div>